*  {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.game-container {
    position: relative;
    max-width: 90%;
    max-height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.img{
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    margin: 0 auto;
}